* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    min-height: 100vh;
    max-height: 400vh;
    display: flex;
    width: 100%;
}

.sidebar {

    border: 2px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    background-color: whitesmoke;

}

.product {
    height: 100%;
    border: 2px solid red;
    width: 100%;
}

img {
    height: 200px;
}

.main-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.sub-main-all {
    border: 2px solid gray;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}